.NewClientDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.232);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100%;
    height: 100vh;
  }
.NewClientAlert{
    width: 800px;
    height: fit-content;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 0px rgba(28, 28, 28, 0.247);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bannerNewClient{
    display: flex;
    width: 100%;
}
.IconsSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 8%;
    border-right: 1px solid #ffffff;
}
.IconSectionFirst{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    height: 50%;
    background-color: #ff2f00;
    border-top-left-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.IconSectionFirst svg{
    stroke: white;
}
.IconSectionSecond{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #29345C;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.IconSectionSecond svg{
    stroke: white;
}
.IconSectionFirst.selected, .IconSectionSecond.selected {
    opacity: 0.3;
}
.contentNewClient{
    width: 92%;
    padding: 1rem 1.5rem;
}
.contentNewClientKey{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentNewClientKey h2{
    font-family: Poppins,sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #ff2f00;
}
.addClientBannerForm{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}
.addClientInputs{
    display: flex;
    width: 100%;
    gap: 30px;
}
.InputsClm1{
    display: grid;
    width: 50%;
    gap: 5px;
}
.InputsClm1 label{
    font-family: Poppins,sans-serif;
    font-size: 0.85rem;
    line-height: 1.2;
    font-weight: 500;
    color: #1c1c1c;
}
.InputsClm1 input{
    width: 85%;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #1c1c1c;
    padding: 0.25rem 0.5rem;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
}
.InputsClm1Proprietaire{
    display: grid;
    width: 50%;
    gap: 5px;
}
.InputsClm1Proprietaire label{
    font-family: Poppins,sans-serif;
    font-size: 0.85rem;
    line-height: 1.2;
    font-weight: 500;
    color: #1c1c1c;
}
.InputsClm1Proprietaire input{
    width: 85%;
    padding: 0.15rem 0.5rem;
}
.CloseIcon{
    position: relative;
    right: 0;
    background-color: black;
}
.CloseIcon svg{
    position: absolute;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    stroke: #ff2f00;
    cursor: pointer;
}
.btnSubmit{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.btnSubmit button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 15%;
    background-color: #ff2f00;
    border-radius: 5px;
    height: 35px;
    padding: 0;
    color: white;
    font-family: Poppins,sans-serif;
    font-size: 0.85rem;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
}

.contentNewClientFile{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    gap: 10px;
}
.contentNewClientFile .ClientFileHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
  
.ClientFileHeader h2{
    color: #ff2f00;  
}
.ClientFileHeader svg{
    stroke: #ff2f00;
}


.Clientfile-card {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #f1905b;
    background-color: #f0e6e0;
    width: 100%;
    min-height: fit-content;
    border-radius: 5px;
  }
  
  .Clientfile-card .Clientfile-inputs {
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
  }
  
  .Clientfile-card .Clientfile-inputs input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    z-index: 2;
    cursor: pointer;
    height: 70px;
    width: 100%;
  }
  
  .Clientfile-card .Clientfile-inputs button {
    
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #ff2f00ca;
    padding: 6px 0px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: background-color 0.4s;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
    font-family: Poppins,sans-serif;
    gap: 10px;
    font-weight: 600;

  }
  
  
  .Clientfile-card .Clientfile-inputs:hover button {
    background-color: #ff2f00;
  }
  
  .Clientmain {
    font-family: Poppins,sans-serif;
    font-weight: bold;
    margin-bottom: 0.4em;
  }
  
  .Clientinfo {
    font-family: Poppins,sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }



